* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-link{
    font-family: "Press Start 2P", serif;
}

body {
    width: 100vw;
    background-color: aqua;
}

.fundo-video {
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    width: 60%;
    height: 591px;
    overflow: hidden;
}

.fundo-video .video {
    height: 90vh;
}

.fundo-video::after {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 591px;
    top: 0;
    left: 0;
    background: black;
    opacity: 50%;
}

.textoPrincipal{
    font-family: "Press Start 2P", serif;
    font-size: 10px;
}

.container-paragrafo{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoPrincipal {
    width: 600px;
    color: white;
    text-align: center;
    line-height: 28px;
}

.containerCapa{
    width: 40%;
    display: flex;
    justify-content: end;
}

.capa {
    height: 591px;
}

.energia {
    display: flex;
    justify-content: flex-end;
}

.esferaPower{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #9B4DFF;
}

.iconPower{
    width: 10px;
    height: 10px;
}

.card-title{
    font-family: "Press Start 2P", serif;
    font-size: 13px;
}

.paragrafoCard{
    font-family: "Press Start 2P", serif;
    font-size: 10px;
}

#myVideo{
    width: 450px;
    height: 500px;
    background-image: linear-gradient(black, purple);
    border: 5px solid #39FF14;
    border-radius: 5px;
}

.bordaFicha{
    border: 2px solid #39FF14;
    border-radius: 5px;
}

.fichaPersonagem{
    background-image: linear-gradient(black, purple);
}

.fichaPersonagem{
    font-family: "Press Start 2P", serif;
    border: 5px solid #39FF14;
    border-radius: 5px;
    color: #FFD700;
}

.fichaPersonagem h6{
    font-size: 13px;
}

.fichaPersonagem li{
    font-size: 11px;
}

.fichaPersonagem p{
    font-size: 10px;
    color: #39FF14;
}
